#Browser focus and start pages
BROWSER=chrome
CARETEAM_URL=https://stage-careteam.quartethealth.com
PATIENT_URL=https://stage-patient.quartethealth.com
CONSOLE_URL=https://stage-console.quartethealth.com
STORY_MODE=0
SAUCE_USERNAME=
SAUCE_ACCESS_KEY=
RUN_TYPE=LOCAL
PLATFORM=windows 10
VERSION=latest

#Default timeouts
TIMEOUT_PAGE_LOAD=30
TIMEOUT_ELEMENT_LOAD=10

#Paths - Drivers
CHROMEDRIVER_PATH=/src/test/resources/executables/chromedriver
IEDRIVER_PATH=/src/test/resources/executables/IEDriverServer.exe
CHROMEDRIVER_PATH_WIN=/src/test/resources/executables/chromedriver.exe
IEDRIVER_PATH_WIN=/src/test/resources/executables/IEDriverServer.exe
IEDRIVER_PATH=/src/test/resources/executables/IEDriverServer.exe
CHROMEDRIVER_PATH_WIN_32=/src/test/resources/executables/32/chromedriver.exe
IEDRIVER_PATH_WIN_32=/src/test/resources/executables/32/IEDriverServer.exe

#Paths - Reporting
REPORT_DIR=/src/test/resources/reports/
EXTENT_CONFIG_PATH=/src/test/resources/extentconfig/ReportsConfig.xml

#Paths - Reporting Windows
REPORT_DIR_WIN=\target\

EXTENT_CONFIG_PATH_WIN=\src\test\resources\extentconfig\ReportsConfig.xml

#Paths - Data Files
EXCELDATA_PATH=/src/test/resources/excel/testdata.xlsx
DOWNLOAD_DIR=/Downloads/

#QA Test Email Account
QA_GMAIL_EMAIL_ADDRESS=qa-testing@quartethealth.com

#Gmail API Credentials and Tokens
GMAIL_APPLICATION_NAME=tabasco
GMAIL_CREDENTIALS_FILE=/gmail/credentials/credentials.json
GMAIL_TOKENS_DIRECTORY_PATH=/src/test/resources/gmail/tokens
